{% extends 'base.html' %}

{% block header %}
  <h1 class="display-5 fw-bold">{{ title }}</h1>
  <p class="fs-5">Aplikasi ini dibuat menggunakan Teknologi Python Django</p>
  <button class="btn btn-secondary btn-lg" type="button">Get Started</button>
{% endblock %}

{% block content %}
<div class="row" style="height: 400px;">
  <div class="col-12">
    <h1>Intro</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facere iusto doloremque numquam culpa alias velit atque laboriosam, quis minus at consequatur similique omnis laudantium aut, quidem est nulla? Quis repudiandae fugiat ea, corporis nesciunt deleniti libero et voluptates doloremque iure blanditiis accusantium laboriosam assumenda est enim numquam. Sequi, exercitationem.</p>
  </div>
</div>
{% endblock %}
