{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Django</title>
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "about/css/styles.css" %}">
</head>

<body>
    <main>
        <section class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand text-success fw-bold" href="/">
                        Django Project
                        {% comment %} <img src="{% static "img/logo.png" %}" alt="" style="height: 30px;"> {% endcomment %}
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% for link,name in nav %}
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-success me-2" aria-current="page" href="{{ link }}">
                                    {{ name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="row">
                <img id="banner" src="{% static banner %}" alt="">
                <div class="col-12">
                    <h1>About Here!</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatibus tenetur maiores
                        delectus voluptates quaerat eaque dicta! Laborum vero non ullam tempore aspernatur mollitia
                        voluptates reiciendis illum sit. Laboriosam accusantium error aliquid, non nesciunt minus
                        voluptas incidunt quam ab molestiae culpa, ipsa dolorum nemo corrupti!
                    </p>
                </div>
            </div>
        </section>
    </main>

    <script src="{% static "vendor/bootstrap/js/jquery.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/pooper.js" %}"></script>
</body>

</html>