{% extends 'base.html' %}

{% load static %}

{% block app_css %}
  <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}" />
{% endblock %}

{% block header %}
  <h1 class="text-start" style="margin-top: 100px;">{{ title }}</h1>
  <p class="text-start">{{ subtitle }}</p>
{% endblock %}

{% block content %}
  <div class="row" style="height: 400px;">
    <div class="col-12">
      <h1>Blog Site</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facere iusto doloremque numquam culpa alias velit atque laboriosam, quis minus at consequatur similique omnis laudantium aut, quidem est nulla? Quis repudiandae fugiat ea, corporis nesciunt deleniti libero et voluptates doloremque iure blanditiis accusantium laboriosam assumenda est enim numquam. Sequi, exercitationem.</p>
    </div>
  </div>
{% endblock %}
